@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Russo+One&display=swap");
@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
.wrapper-mobile {
  @media screen and (max-width: 431px) {
    max-width: calc(100% - 60px);
    margin: 0 auto;
  }
}
.section-block {
  h2 {
    color: #fff;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 46px;
    font-weight: 400;
    margin-top: 100px;
    @media screen and (max-width: 431px) {
      margin-top: 38px;
      line-height: 43px;
      font-size: 40px;
    }
  }
  p {
    color: #fff;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 60px;
    @media screen and (max-width: 431px) {
      margin-bottom: 25px;
    }  
  }
}
.text {
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
.form {
  margin-top: 44px;
  text-align: center;
}

label {
  color: #fff;
  margin-top: 11px;
}


%btn {
  border-radius: 43px;
  background: linear-gradient(180deg, #ffe149 0%, #ffd500 100%);
}
.processes {
  img {
    position: absolute;
  }
}
.clients {
  position: relative;
  overflow: hidden;
  span{
    font-weight: 700;
  }
  p {
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .clients__text {
    p {
      width: 65%;
    }
  }
}