@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Russo+One&display=swap");
@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

.text {
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

%btn {
  border-radius: 43px;
  background: linear-gradient(180deg, #ffe149 0%, #ffd500 100%);
}
