@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Russo+One&display=swap");
@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
.section-block {
  h2 {
    color: #fff;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 46px;
    font-weight: 400;
    margin-top: 100px;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 60px;
  }

}
.text {
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

%btn {
  border-radius: 43px;
  background: linear-gradient(180deg, #ffe149 0%, #ffd500 100%);
}
.processes {
  img {
    position: absolute;
  }
}