@import "./template";
@import "./vars";

.header {
  height: 123px;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
}
.links__link {
  color: white;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  width: 220px;
  height: 122.683px;
  border-radius: 0px 0px 43px 43px;
  background: #fff;
}
.logo__title {
  color: #4c0085;
  font-family: $font-fam-Russo;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.contacts {
  display: flex;
  gap: 26px;
}
.contacts__tel-number {
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 24px;
  font-weight: 500;
}
.contacts__socials {
  display: flex;
  gap: 6px;
}
// .wrapper__main-screen {
//   width: 90%;
//   margin: 0 auto;
// }
.main-screen {
  // height: calc(100vh - 123px);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.main-screen__title {
  margin-top: 90px;
  position: relative;
  h1 {
    color: #fff;
    font-family: $font-fam-Golos;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    span {
      color: #fff;
      text-align: center;
      font-family: $font-fam-Golos;
      font-size: 72px;
      font-weight: 400;
      line-height: 66px;
    }
  }
  .main-screen__ellipse {
    position: absolute;
    bottom: 0;
  }
}
.main-screen__text {
  position: relative;
  margin-top: 25px;
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.form__text {
  width: 284px;
  height: 86px;
  border-radius: 43px;
  background: #fff;
  &::placeholder {
    text-align: center;
  }
}
.form__button {
  width: 284px;
  height: 86px;
  border-radius: 43px;
  background: linear-gradient(180deg, #ffe149 0%, #ffd500 100%);
}
.form__checkbox {
  margin-top: 11px;
}
.main-screen__images {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative; //
}
.main-screen__line-main-screen {
  position: absolute;
  top: 17%;
  width: 63%;
  z-index: -1;
}
.location-left {
  position: absolute;
  left: 16.76789%;
  top: 155px;
}
.location-right {
  position: absolute;
  right: 16.8999%;
  top: 14px;
}
.cloud-left {
  position: absolute;
  top: 30%;
  left: 8%;
}
.cloud-right {
  position: absolute;
  top: 12%;
  right: 23%;
}
.cloud-small {
  position: absolute;
  top: 57%;
  right: 37%;
}
.bg-houses {
  position: absolute;
  bottom: 0;
  right: -4%;
  z-index: -2;
}
.sun {
  position: absolute;
  top: 18%;
  right: 5%;
}
.main-screen__ground {
  position: absolute;
  width: 100%;
}
.main-screen__sticker {
  position: absolute;
  transform: rotate(-21.242deg);
  left: 16vw;
  top: 1vh;
  .sticker__percentage {
    background-color: #fff;
    width: 128px;
    height: 128px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      color: $main-bg;
    }
    span {
      font-family: $font-fam-Golos;
      font-size: 36px;
      font-weight: 400;
      line-height: 56px;
    }
  }
  .sticker__text {
    width: 136px;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}
.price {
}
.price__text-item {
}
.table__price {
  max-width: 1100px;
  margin: 0 auto;
  table {
    width: 100%;
  }
  th,
  td {
    color: #fff;
    font-family: $font-fam-Golos;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border: 3px solid #f2f2f2;
    padding: 23px 0;
    background-color: $main-bg;
  }
  thead tr:first-of-type th {
    background-color: #f2f2f2;
    color: $main-bg;
  }
  td:first-child,
  th:first-child {
    background-color: #f2f2f2;
    color: $main-bg;
  }
  th:first-child {
    width: 35%;
    border-radius: 38px 0 0 0;
    background-color: $main-bg;
    color: white;
  }
  th:last-child {
    border-radius: 0 38px 0 0;
  }
  tbody tr:first-child td {
    background-color: $main-bg;
    color: white;
  }
  tbody tr:nth-of-type(9) td:last-child {
    border-radius: 0 0 38px 0;
  }
  tbody tr:nth-of-type(9) td:first-child {
    border-radius: 0 0 0 38px;
  }
}
.price__bg-img {
  position: relative;
}
.bg-img__illustration {
  position: absolute;
  z-index: -2;
  bottom: 0;
  right: 0;
}
.price__bg-img__car {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
.price__bg-img__left-location {
  position: absolute;
  bottom: 290px;
  left: 25px;
  z-index: -1;
}
.price__bg-img__right-location {
  position: absolute;
  bottom: 582px;
  right: 57px;
  z-index: -1;
}
.price__bg-img__right-location-line {
  position: absolute;
  bottom: 521px;
  right: 85px;
  z-index: -1;
}
.price__bg-img__cloud {
  position: absolute;
  bottom: 512px;
  left: 121px;
  z-index: -1;
}
.price__bg-img__cloud-small {
  position: absolute;
  bottom: 355px;
  right: 90px;
  z-index: -1;
}
.processes {
  overflow: hidden;
  position: relative;
}
.processes__items {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.processes__item {
  flex: 0 1 48%;
  height: 378px; ///////////////
  border-radius: 38px;
  background: #fff;
  padding: 52px 52px 43px 52px;
}
.processes__top-of-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.processes__top-of-item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: $main-bg;
  height: 58px;
  width: 58px;
  border-radius: 30px;
  color: #fff;
}
.processes__top-of-item-title {
  color: $main-bg;
  font-family: $font-fam-Golos;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.processes__body-of-item {
}
.processes__body-of-item-text {
  color: $main-bg;
  font-family: $font-fam-Golos;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 30px 0;
}
.processes__link {
  color: $main-bg;
  font-family: $font-fam-Golos;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px;
  font-weight: 600;
  border-bottom: 2px dashed $main-bg;
}
.link__dashed {
  color: #fff;
  margin: 0 auto;
  margin-top: 54px;
  border-bottom: 2px dashed #fff;
}
.processes__stock-left {
  bottom: 100px;
  left: 0;
  z-index: -2;
}
.processes__stock-right {
  transform: scale(-1, 1);
  bottom: 100px;
  right: 0;
  z-index: -2;
}
.processes__box-left-1 {
  bottom: 110px;
  left: -102px;
  z-index: -2;
}
.processes__box-left-2 {
  bottom: 110px;
  left: 86px;
  z-index: -2;
}
.processes__box-right-1 {
  bottom: 110px;
  right: -102px;
  z-index: -2;
}
.processes__box-right-2 {
  bottom: 110px;
  right: 86px;
  z-index: -2;
}
.processes__cloud-small {
  top: 370px;
  left: 102px;
}
.processes__cloud {
  top: 300px;
  right: 70px;
}
.work {
  position: relative;
  overflow: hidden;
}
.work__text {
  p {
    margin-bottom: 0;
  }
}
.work__box-form {
  display: flex;
  justify-content: center;
}
.work_button {
  color: #3e3300;
  text-align: center;
  font-family: $font-fam-Golos;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.28px;
}
.work__img {
  margin: 58px 0 130px 0;
  display: flex;
  justify-content: center;
}
.work__house-left {
  opacity: 0.3;
  transform: scale(-1, 1);
  position: absolute;
  bottom: 0;
  left: 10%;
}
.work__house-right {
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.work__sun {
  position: absolute;
  bottom: 539px;
  right: 17%;
}
.work__cloud-small {
  position: absolute;
  bottom: 395px;
  right: 30%;
}
.work__cloud {
  position: absolute;
  bottom: 520px;
  left: 30%;
}
.work__cross1 {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
}
.work__cross2 {
  position: absolute;
  bottom: 42%;
  left: 36%;
}
.work__cross3 {
  position: absolute;
  bottom: 46%;
  right: 42%;
}
.info {
  border-radius: 38px;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 7%;
  h2 {
    color: #8c5fb2;
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    color: #8c5fb2;
    text-align: center;
  }
}
.info__blocks {
  position: relative;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 5px);
  gap: 15px;
}

.info__block:nth-child(n + 3) {
  width: calc(33.33% - 5px);
  margin-top: 30px;
}
.clients__content {
  margin: 0 auto;
  width: 55%;
  display: flex;
  gap: 3rem;
  overflow: hidden;
}
.clients__item {
  box-sizing: border-box;
  border: 0.13rem solid rgb(255, 255, 255);
  border-radius: 2.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: $main-bg;
  z-index: 3;
}
.clients__post {
  position: absolute;
  bottom: 0;
  left: -5rem;
}
.clients__car {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1, 1);
  opacity: 0.05;
}
.clients__line {
  position: absolute;
  bottom: 0;
  opacity: 0.05;
}