@import "./template";
@import "./vars";

.header {
  height: 123px;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
}
.links__link {
  color: white;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  width: 220px;
  height: 122.683px;
  border-radius: 0px 0px 43px 43px;
  background: #fff;
}
.logo__title {
  color: #4c0085;
  font-family: $font-fam-Russo;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.contacts {
  display: flex;
  gap: 26px;
}
.contacts__tel-number {
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 24px;
  font-weight: 500;
}
.contacts__socials {
  display: flex;
  gap: 6px;
}
.wrapper__main {
  width: 90%;
  margin: 0 auto;
}
.main-screen {
  // height: calc(100vh - 123px);
  text-align: center;
}
.main-screen__title {
  margin-top: 90px;
  position: relative;
  h1 {
    color: #fff;
    font-family: $font-fam-Golos;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    span {
      color: #fff;
      text-align: center;
      font-family: $font-fam-Golos;
      font-size: 72px;
      font-weight: 400;
      line-height: 66px;
    }
  }
  .main-screen__ellipse {
    position: absolute;
    bottom: 0;
  }
}
.main-screen__text {
  position: relative;
  margin-top: 25px;
  color: #fff;
  font-family: $font-fam-Golos;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.main-screen__form {
  margin-top: 44px;
  label {
    color: #fff;
  }
}
.form__text {
  width: 284px;
  height: 86px;
  border-radius: 43px;
  background: #fff;
  &::placeholder {
    text-align: center;
  }
}
.form__button {
  width: 284px;
  height: 86px;
  border-radius: 43px;
  background: linear-gradient(180deg, #ffe149 0%, #ffd500 100%);
}
.form__checkbox {
  margin-top: 11px;
}
.main-screen__images {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative; //
}
.main-screen__line-main-screen {
  position: absolute;
  top: 17%;
  width: 63%;
  z-index: -1;
}
.location-left {
  position: absolute;
  left: 16%;
  top: 26%;
}
.location-right {
  position: absolute;
  right: 16%;
  top: 0;
}
.cloud-left {
  position: absolute;
  top: 30%;
  left: 8%;
}
.main-screen__ground {
  position: absolute;
  width: 100%;
}
.main-screen__sticker {
  position: absolute;
  transform: rotate(-21.242deg);
  left: 16vw;
  top: 1vh;
  .sticker__percentage {
    background-color: #fff;
    width: 128px;
    height: 128px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      color: $main-bg;
    }
    span {
      font-family: $font-fam-Golos;
      font-size: 36px;
      font-weight: 400;
      line-height: 56px;
    }
  }
  .sticker__text {
    width: 136px;
    text-align: center;
    font-family: $font-fam-Golos;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}
